* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 300px;
  border: 2px solid blue;
}
.display {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  min-height: 50px;
}
.row, .row_cl { 
  display: flex;
}

.row_cl { 
  justify-content: end;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 200px;
}
.buttons button {
  border: 1px solid lightblue;
  outline: none;
  height: 50px;
  width: 50px;
}